.leon-theme {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.leon-theme .leon-button {
  margin: 20px;
  padding: 40px;
  border-radius: 15px;
  color: white;
  background-color: magenta;
}
